<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="cef.redist.x64" version="3.3239.1723" targetFramework="net45" />
  <package id="cef.redist.x86" version="3.3239.1723" targetFramework="net45" />
  <package id="CefSharp.Common" version="63.0.3" targetFramework="net45" />
  <package id="CefSharp.OffScreen" version="63.0.3" targetFramework="net45" />
  <package id="CefSharp.Wpf" version="63.0.3" targetFramework="net45" />
  <package id="Npgsql" version="3.2.7" targetFramework="net452" />
  <package id="System.Threading.Tasks.Extensions" version="4.3.0" targetFramework="net452" />
  <package id="Whatsapp.NET" version="1.2.2" targetFramework="net40" />
</packages>